## Non-shot-based expected goals regression model

Predicting an expected number of goals for each match given the different in-game statistics excluding shots.

In [1]:
import sys
import os
import numpy as np
import pandas as pd

In [2]:
FILEPATH = os.path.join(os.getcwd(), "data/non-shot-xG/non_shot_data.csv")
complete_data = pd.read_csv(FILEPATH)

In [3]:
complete_data

,GameID,Date,HomeTeam,AwayTeam,Referee,HC,AC,HF,AF,HY,AY,HR,AR,FTHG,FTAG,FTR
0,1,13/08/2016,Burnley,Swansea,J Moss,7,4,10,14,3,2,0,0,0,1,A
1,2,13/08/2016,Crystal Palace,West Brom,C Pawson,3,6,12,15,2,2,0,0,0,1,A
2,3,13/08/2016,Everton,Tottenham,M Atkinson,5,6,10,14,0,0,0,0,1,1,D
3,4,13/08/2016,Hull,Leicester,M Dean,5,3,8,17,2,2,0,0,2,1,H
4,5,13/08/2016,Man City,Sunderland,R Madley,9,6,11,14,1,2,0,0,2,1,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,1680,02/01/2021,Brighton,Wolves,A Madley,5,8,13,8,2,1,0,0,3,3,D
1680,1681,02/01/2021,West Brom,Arsenal,M Atkinson,3,5,7,4,1,2,0,0,0,4,A
1681,1682,03/01/2021,Newcastle,Leicester,R Jones,3,6,10,11,0,2,0,0,1,2,A
1682,1683,03/01/2021,Chelsea,Man City,A Taylor,5,3,11,10,3,1,0,0,1,3,A
1683,1684,04/01/2021,Southampton,Liverpool,A Marriner,1,10,5,12,1,3,0,0,1,0,H

In [4]:
general_training_data = complete_data.drop(['GameID','Date'], axis=1)

In [5]:
general_training_data

,HomeTeam,AwayTeam,Referee,HC,AC,HF,AF,HY,AY,HR,AR,FTHG,FTAG,FTR
0,Burnley,Swansea,J Moss,7,4,10,14,3,2,0,0,0,1,A
1,Crystal Palace,West Brom,C Pawson,3,6,12,15,2,2,0,0,0,1,A
2,Everton,Tottenham,M Atkinson,5,6,10,14,0,0,0,0,1,1,D
3,Hull,Leicester,M Dean,5,3,8,17,2,2,0,0,2,1,H
4,Man City,Sunderland,R Madley,9,6,11,14,1,2,0,0,2,1,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,Brighton,Wolves,A Madley,5,8,13,8,2,1,0,0,3,3,D
1680,West Brom,Arsenal,M Atkinson,3,5,7,4,1,2,0,0,0,4,A
1681,Newcastle,Leicester,R Jones,3,6,10,11,0,2,0,0,1,2,A
1682,Chelsea,Man City,A Taylor,5,3,11,10,3,1,0,0,1,3,A
1683,Southampton,Liverpool,A Marriner,1,10,5,12,1,3,0,0,1,0,H

### Data preperation

Mapping team names and referee to respective unique IDs

__Note__: Standard team names and referee names along with their respective unique IDs are located in [this](data/standard) directory

In [6]:
teams_data = pd.read_csv(os.path.join(os.getcwd(), "data/standard/standard.teamnames.csv"))
referee_data = pd.read_csv(os.path.join(os.getcwd(), "data/standard/standard.referee.names.csv"))

In [7]:
# Generating teams mappings 
teamname, teamID = list(teams_data['Standard teamname']), list(teams_data['TeamID'])
teamID_mapping = dict(zip(teamname, teamID))

generate_teamID_mappings = lambda teamnames: [teamID_mapping[teamname] for teamname in teamnames]

In [8]:
# Generating referees mappings 
referee, refereeID = list(referee_data['Standard referee name']), list(referee_data['RefereeID'])
refereeID_mapping = dict(zip(referee, refereeID))

generate_refereeID_mappings = lambda referees: [refereeID_mapping[referee] for referee in referees]

Encoding result:

- A __Home__ win is encoded as 1
- An __Away__ win is encoded as 0
- A __Draw__ is encoded as 0.5

In [9]:
def encode_results(results):
    encode = {
        'H': 1,
        'A': 0,
        'D': 0.5
    }
    return [encode[result] for result in results]

Applying transformations to the (general) training dataset.

In [10]:
# Teams
general_training_data['HomeTeam'] = generate_teamID_mappings(general_training_data['HomeTeam'])
general_training_data['AwayTeam'] = generate_teamID_mappings(general_training_data['AwayTeam'])

# Referees
general_training_data['Referee'] = generate_refereeID_mappings(general_training_data['Referee'])

### Integrating expected goals (xG) data from shots-based model

Extracting all the output from the shots-based model

In [11]:
shots_xg_predictions = pd.read_csv(os.path.join(os.getcwd(), 'output/shots_xG_predictions.csv'))

In [12]:
# Add expected goals for the home team
general_training_data['xHG'] = shots_xg_predictions['xG_h']

# Add expected goals for the away team
general_training_data['xAG'] = shots_xg_predictions['xG_a']

In [13]:
general_training_data

,HomeTeam,AwayTeam,Referee,HC,AC,HF,AF,HY,AY,HR,AR,FTHG,FTAG,FTR,xHG,xAG
0,10,34,12,7,4,10,14,3,2,0,0,0,1,A,0.000000,0.995993
1,13,37,7,3,6,12,15,2,2,0,0,0,1,A,0.000000,0.995993
2,14,35,18,5,6,10,14,0,0,0,0,1,1,D,0.955742,0.995993
3,18,20,20,5,3,8,17,2,2,0,0,2,1,H,1.955742,0.999136
4,22,33,34,9,6,11,14,1,2,0,0,2,1,H,0.999340,0.995993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,9,40,1,5,8,13,8,2,1,0,0,3,3,D,0.994346,0.996148
1680,37,1,18,3,5,7,4,1,2,0,0,0,4,A,0.000000,3.995993
1681,25,20,33,3,6,10,11,0,2,0,0,1,2,A,0.955742,1.995993
1682,12,22,3,5,3,11,10,3,1,0,0,1,3,A,0.955742,2.995993
1683,31,21,2,1,10,5,12,1,3,0,0,1,0,H,0.955742,0.000000

### Building the regression model for the home team

Removing Full Time Home and Away Team Goals, and Away Team Corners from the training data

In [14]:
X_home = home_training_data = general_training_data.drop(['FTAG', 'FTHG', 'AC', 'xAG', 'FTR'], axis=1)

In [15]:
Y_home = general_training_data.FTHG

In evaluating the model performance, the standard practice is to split the dataset into 2 (or more partitions) partitions and here we will be using the 80/20 split ratio whereby the 80% subset will be used as the train set and the 20% subset the test set. As scikit-learn requires that the data be further separated to their X and Y components, the train_test_split() function can readily perform the above-mentioned task.

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_home_train, X_home_test, Y_home_train, Y_home_test = train_test_split(X_home, Y_home, test_size=0.2)
X_home_train

      HomeTeam  AwayTeam  Referee  HC  HF  AF  HY  AY  HR  AR       xHG
407         21         1        7   4   6   9   2   4   0   0  2.949755
261         32        24        7   6  16  20   1   2   0   0  1.955742
883         23        13       16  10  13  12   1   2   0   0  1.098129
236         36        10       23   3  12  10   5   0   0   1  1.955742
507         10         1       16   5   8  14   2   0   0   0  0.577655
...        ...       ...      ...  ..  ..  ..  ..  ..  ..  ..       ...
1034        12        35        2   2   7  14   1   1   0   0  0.682569
751         13        37       12   4  10  11   2   3   0   0  1.248354
779         13        21       23   6   6  13   1   1   1   0  0.987752
430         10        17        6   3   9  13   3   2   0   0  0.750236
626         25        10       39   7  15  15   1   2   0   0  1.453088

[1347 rows x 11 columns]

Using Random Forest Regressor model with a forest size of 100 decision trees

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [19]:
model_home = RandomForestRegressor(n_estimators = 100)
model_home.fit(X_home_train, Y_home_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

We will now apply the trained model to make predictions on the training set (X_train).

In [20]:
Y_home_pred_train = model_home.predict(X_home_train)

In [21]:
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y_home_train, Y_home_pred_train))
print('Mean absolute error (MAE): %.2f'
      % mean_absolute_error(Y_home_train, Y_home_pred_train))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_home_train, Y_home_pred_train))

Mean squared error (MSE): 0.09
Mean absolute error (MAE): 0.18
Coefficient of determination (R^2): 0.95

We will now apply the trained model to make predictions on the test set (X_test).

In [22]:
Y_home_pred_test = model_home.predict(X_home_test)

In [23]:
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y_home_test, Y_home_pred_test))
print('Mean absolute error (MAE): %.2f'
      % mean_absolute_error(Y_home_test, Y_home_pred_test))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_home_test, Y_home_pred_test))

Mean squared error (MSE): 0.72
Mean absolute error (MAE): 0.52
Coefficient of determination (R^2): 0.56

### Now repeating the process for the away team

In [24]:
X_away = away_training_data = general_training_data.drop(['FTHG', 'FTAG', 'HC', 'xHG', 'FTR'], axis=1)

In [25]:
Y_away = general_training_data.FTAG

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_away_train, X_away_test, Y_away_train, Y_away_test = train_test_split(X_away, Y_away, test_size=0.2)

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [29]:
model_away = RandomForestRegressor(n_estimators = 100)
model_away.fit(X_away_train, Y_away_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [30]:
Y_away_pred_train = model_away.predict(X_away_train)

In [31]:
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y_home_train, Y_home_pred_train))
print('Mean absolute error (MAE): %.2f'
      % mean_absolute_error(Y_home_train, Y_home_pred_train))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_home_train, Y_home_pred_train))

Mean squared error (MSE): 0.09
Mean absolute error (MAE): 0.18
Coefficient of determination (R^2): 0.95

In [32]:
Y_away_pred_test = model_away.predict(X_away_test)

In [33]:
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y_away_test, Y_away_pred_test))
print('Mean absolute error (MAE): %.2f'
      % mean_absolute_error(Y_away_test, Y_away_pred_test))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_away_test, Y_away_pred_test))

Mean squared error (MSE): 0.64
Mean absolute error (MAE): 0.47
Coefficient of determination (R^2): 0.62

### FTHG Results

Extract model input data from the training dataset.

In [34]:
home_training_data = general_training_data.copy().drop(['FTAG', 'AC', 'xAG', 'FTR'], axis=1)
home_model_input_data = home_training_data.copy().drop(columns=['FTHG'])

In [35]:
home_training_data

      HomeTeam  AwayTeam  Referee  HC  HF  AF  HY  AY  HR  AR  FTHG       xHG
0           10        34       12   7  10  14   3   2   0   0     0  0.000000
1           13        37        7   3  12  15   2   2   0   0     0  0.000000
2           14        35       18   5  10  14   0   0   0   0     1  0.955742
3           18        20       20   5   8  17   2   2   0   0     2  1.955742
4           22        33       34   9  11  14   1   2   0   0     2  0.999340
...        ...       ...      ...  ..  ..  ..  ..  ..  ..  ..   ...       ...
1679         9        40        1   5  13   8   2   1   0   0     3  0.994346
1680        37         1       18   3   7   4   1   2   0   0     0  0.000000
1681        25        20       33   3  10  11   0   2   0   0     1  0.955742
1682        12        22        3   5  11  10   3   1   0   0     1  0.955742
1683        31        21        2   1   5  12   1   3   0   0     1  0.955742

[1684 rows x 12 columns]

Extract predictions

In [36]:
home_pred_data = pd.get_dummies(home_model_input_data)
home_r = model_home.predict(home_pred_data)
home_r = pd.DataFrame(home_r)

In [37]:
home_r.columns= ['Predicted FTHG']
home_training_data.reset_index(drop=True, inplace=True)
home_results = pd.concat([home_training_data, home_r], axis=1)
home_results["Deviation in FTHG"] = abs(home_results["Predicted FTHG"] - home_results["FTHG"])

In [38]:
'''
path = os.path.join(os.getcwd(), "output/non_shot_FTHG_predictions.csv")
home_results.to_csv(path, index=False)
'''

'\npath = os.path.join(os.getcwd(), "output/non_shot_FTHG_predictions.csv")\nhome_results.to_csv(path, index=False)\n'

### FTAG Results

In [39]:
away_training_data = general_training_data.copy().drop(['FTHG', 'HC', 'xHG', 'FTR'], axis=1)
away_model_input_data = away_training_data.copy().drop(columns=['FTAG'])

In [40]:
away_pred_data = pd.get_dummies(away_model_input_data)
away_r = model_away.predict(away_pred_data)
away_r = pd.DataFrame(away_r)

In [41]:
away_r.columns= ['Predicted FTAG']
away_training_data.reset_index(drop=True, inplace=True)
away_results = pd.concat([away_training_data, away_r], axis=1)
away_results["Deviation in FTAG"] = abs(away_results["Predicted FTAG"] - away_results["FTAG"])

In [42]:
'''
path = os.path.join(os.getcwd(), "output/non_shot_FTHG_predictions.csv")
home_results.to_csv(path, index=False)
'''

'\npath = os.path.join(os.getcwd(), "output/non_shot_FTHG_predictions.csv")\nhome_results.to_csv(path, index=False)\n'

### Merging results of both models

In [43]:
complete_non_shot_predictions = general_training_data.copy()

# Add predicted FTHG
complete_non_shot_predictions['Predicted FTHG'] = home_results['Predicted FTHG']

# Add predicted FTAG
complete_non_shot_predictions['Predicted FTAG'] = away_results['Predicted FTAG']

complete_non_shot_predictions

,HomeTeam,AwayTeam,Referee,HC,AC,HF,AF,HY,AY,HR,AR,FTHG,FTAG,FTR,xHG,xAG,Predicted FTHG,Predicted FTAG
0,10,34,12,7,4,10,14,3,2,0,0,0,1,A,0.000000,0.995993,0.00,1.05
1,13,37,7,3,6,12,15,2,2,0,0,0,1,A,0.000000,0.995993,0.00,1.01
2,14,35,18,5,6,10,14,0,0,0,0,1,1,D,0.955742,0.995993,1.00,1.03
3,18,20,20,5,3,8,17,2,2,0,0,2,1,H,1.955742,0.999136,1.96,1.21
4,22,33,34,9,6,11,14,1,2,0,0,2,1,H,0.999340,0.995993,2.17,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,9,40,1,5,8,13,8,2,1,0,0,3,3,D,0.994346,0.996148,2.74,2.27
1680,37,1,18,3,5,7,4,1,2,0,0,0,4,A,0.000000,3.995993,0.00,3.85
1681,25,20,33,3,6,10,11,0,2,0,0,1,2,A,0.955742,1.995993,1.00,1.98
1682,12,22,3,5,3,11,10,3,1,0,0,1,3,A,0.955742,2.995993,1.00,2.98
1683,31,21,2,1,10,5,12,1,3,0,0,1,0,H,0.955742,0.000000,0.99,0.00

In [44]:
path = os.path.join(os.getcwd(), "output/non_shot_predictions.csv")
complete_non_shot_predictions.to_csv(path, index=False)

### Results Analysis

In [45]:
import pandas
from sklearn.model_selection import KFold
from sklearn.svm import SVR

### FTHG model

In [46]:
scores = []
best_svr = SVR(kernel='rbf')
cv = KFold(n_splits=10, shuffle=True, random_state=42)
for train_index, test_index in cv.split(X_home):
    print("Train Index: ", train_index, "\n")
    print("Test Index: ", test_index)

    X_home_train, X_home_test, Y_home_train, Y_home_test = X_home.loc[train_index], X_home.loc[test_index], Y_home.loc[train_index], Y_home.loc[test_index]
    best_svr.fit(X_home_train, Y_home_train)
    scores.append(best_svr.score(X_home_test, Y_home_test))

Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  23   29   30   32   44   49   59   65   69   70   73   78   99  109
  115  124  135  162  168  173  185  203  210  220  244  247  259  261
  270  271  275  289  297  298  300  303  339  342  351  352  366  371
  382  383  398  405  411  413  414  416  422  425  427  439  462  478
  479  481  485  490  493  495  497  522  527  532  548  551  552  567
  570  576  582  583  585  598  613  617  619  628  629  664  677  679
  680  701  707  722  730  736  741  756  765  781  787  839  855  859
  864  881  887  889  906  914  931  940  943  946 1000 1001 1006 1034
 1052 1053 1063 1080 1090 1091 1094 1131 1160 1163 1165 1169 1175 1189
 1190 1191 1193 1197 1200 1247 1262 1277 1298 1307 1311 1318 1331 1341
 1358 1364 1380 1395 1414 1422 1424 1433 1435 1440 1444 1450 1471 1524
 1535 1542 1550 1597 1605 1607 1621 1623 1625 1629 1635 1646 1652 1661
 1672]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  15   43   51   56   67   76  100  101  107  123  128  141  170  175
  184  188  198  199  212  226  231  237  239  240  250  251  274  316
  324  331  332  344  350  353  367  374  381  394  408  420  426  429
  432  433  438  450  453  464  482  486  494  514  518  534  538  555
  560  584  590  601  607  611  614  618  621  634  651  660  678  692
  694  706  710  712  721  744  752  754  755  772  786  792  798  808
  810  813  816  829  832  836  838  843  844  861  865  873  879  892
  904  905  915  925  938  962  964 1005 1009 1018 1050 1054 1055 1075
 1103 1105 1108 1117 1133 1140 1144 1156 1164 1170 1173 1178 1187 1188
 1192 1196 1203 1210 1227 1239 1245 1249 1274 1276 1295 1299 1313 1340
 1343 1347 1357 1360 1365 1366 1378 1383 1392 1416 1417 1418 1432 1447
 1460 1503 1511 1521 1529 1560 1572 1610 1614 1620 1630 1644 1663 1671
 1679]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  54   58   63   81   86  111  148  163  177  192  196  208  218  233
  236  254  265  266  277  286  287  292  306  309  310  322  327  354
  358  361  363  365  380  415  451  471  483  506  513  526  530  535
  554  557  561  575  591  593  596  599  602  637  643  668  669  674
  682  693  727  759  764  774  780  782  802  806  811  842  846  874
  886  903  910  916  926  936  948  949  952  973  979  982  985  998
 1004 1007 1022 1030 1043 1078 1085 1111 1112 1125 1132 1134 1138 1151
 1177 1182 1198 1205 1206 1209 1217 1222 1228 1230 1244 1260 1263 1268
 1273 1283 1284 1288 1289 1293 1303 1308 1315 1317 1330 1336 1339 1344
 1348 1352 1353 1381 1388 1393 1399 1405 1407 1415 1425 1458 1466 1469
 1470 1486 1487 1497 1510 1520 1527 1538 1548 1549 1562 1565 1566 1568
 1573 1575 1582 1588 1593 1601 1615 1622 1626 1634 1666 1670 1673 1674
 1675]
Train Index:  [   0    1    2 ... 1680 1681 1683]

Test Index:  [  10   18   31   41   48   83   88   96  113  126  129  131  140  142
  147  155  156  158  164  174  178  179  181  195  209  214  221  243
  282  285  290  291  294  296  308  312  323  326  341  346  348  355
  360  370  377  390  410  419  423  428  430  435  447  461  468  477
  500  516  528  529  543  544  566  571  578  588  589  597  610  615
  620  626  631  636  650  654  670  700  705  711  715  720  723  724
  745  757  777  785  807  817  818  819  845  867  907  917  922  932
  937  966  968  984  986  989  994 1010 1026 1033 1040 1041 1046 1079
 1107 1113 1120 1124 1128 1145 1167 1174 1181 1201 1208 1221 1223 1240
 1265 1272 1278 1302 1304 1310 1314 1324 1328 1335 1342 1362 1368 1374
 1386 1387 1389 1436 1441 1465 1477 1481 1489 1491 1498 1543 1545 1556
 1563 1571 1583 1592 1596 1598 1613 1617 1624 1636 1639 1647 1662 1664
 1682]
Train Index:  [   0    1    4 ... 1681 1682 1683]

Test Index:  [   2    3    5    6    7   12   24   25   27   39   47   55   66   85
  106  136  138  139  167  171  193  211  213  215  222  224  227  242
  256  258  260  272  273  299  311  314  318  319  321  325  328  333
  336  349  362  364  368  375  376  393  409  424  440  442  458  467
  503  505  525  531  536  542  547  549  553  558  572  573  579  581
  594  605  622  624  630  638  649  661  665  672  691  704  714  718
  743  767  803  809  820  834  841  857  888  893  900  901  921  930
  939  942  944  950  965  983  987  999 1013 1027 1036 1047 1058 1067
 1088 1110 1118 1142 1155 1168 1185 1211 1225 1231 1246 1251 1255 1259
 1287 1290 1296 1319 1320 1322 1326 1359 1361 1377 1394 1398 1401 1448
 1461 1463 1476 1480 1501 1507 1512 1514 1516 1523 1532 1533 1539 1547
 1553 1555 1557 1558 1559 1570 1591 1628 1642 1649 1650 1653 1656 1659]
Train Index:  [   1    2    3 ... 1681 1682 1683]

Test Index:  [   0   33   42   45   52   60   62   68   71   72   74   77   80   82
   84   92   94   97  102  104  105  110  117  120  125  132  137  144
  165  182  183  194  204  228  232  235  248  249  267  280  281  302
  305  307  329  334  359  388  404  421  434  436  445  446  448  457
  465  480  507  519  523  533  541  545  603  609  644  666  673  676
  688  695  716  733  737  746  762  770  771  788  793  796  799  812
  824  826  847  849  858  862  869  898  899  909  918  923  941  963
  974  976  978  988  990  993  997 1023 1029 1037 1049 1057 1061 1068
 1083 1084 1089 1096 1100 1101 1102 1106 1116 1121 1149 1157 1159 1202
 1204 1220 1226 1229 1232 1234 1237 1252 1258 1269 1270 1271 1280 1305
 1316 1333 1334 1345 1351 1355 1356 1376 1379 1391 1423 1427 1445 1453
 1457 1468 1492 1505 1525 1526 1534 1567 1603 1604 1618 1660 1665 1678]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [   9   11   28   36   38   57   61   75   79   89   90  108  114  118
  133  145  169  172  176  191  223  234  238  255  264  278  338  347
  357  372  373  386  389  395  396  412  417  444  449  454  456  460
  475  491  498  499  501  504  539  568  587  595  604  616  652  657
  662  667  671  675  697  708  713  717  728  731  732  734  735  738
  739  750  753  760  778  783  814  823  825  828  848  850  852  868
  872  875  882  884  885  890  894  908  912  919  924  933  934  945
  947  953  958  967  969  970  977 1024 1031 1032 1035 1042 1048 1065
 1073 1074 1087 1093 1097 1098 1114 1137 1146 1161 1172 1176 1179 1214
 1216 1235 1236 1253 1261 1281 1285 1286 1292 1301 1325 1338 1350 1373
 1384 1385 1412 1421 1429 1431 1449 1452 1455 1456 1464 1467 1494 1517
 1518 1552 1564 1569 1577 1587 1602 1608 1609 1612 1627 1633 1645 1677]
Train Index:  [   0    1    2 ... 1679 1680 1682]

Test Index:  [   4   16   17   19   22   35   46   50   93  116  119  127  149  153
  154  157  159  180  190  217  245  257  263  268  284  301  304  313
  320  335  340  356  369  399  407  431  443  470  473  476  487  489
  496  511  512  515  517  521  537  546  559  569  574  580  606  625
  633  635  653  655  656  658  684  685  689  690  696  703  726  740
  758  761  768  773  784  789  790  801  822  827  830  833  837  851
  853  866  876  895  902  911  920  927  935  959  961  971  980  991
  992  996 1002 1003 1008 1011 1015 1019 1039 1062 1066 1069 1070 1072
 1077 1081 1092 1099 1115 1119 1127 1139 1141 1148 1150 1166 1195 1199
 1212 1213 1219 1233 1242 1243 1279 1309 1312 1323 1329 1346 1370 1375
 1402 1403 1406 1420 1442 1443 1454 1472 1475 1502 1504 1506 1509 1536
 1537 1574 1578 1599 1600 1611 1643 1651 1655 1658 1668 1676 1681 1683]
Train Index:  [   0    2    3 ... 1681 1682 1683]

Test Index:  [   1    8   26   37   53  103  112  122  143  146  150  151  152  160
  186  197  202  207  219  225  229  246  253  262  279  283  293  317
  345  384  400  402  403  437  441  452  463  469  472  488  509  524
  540  550  556  577  586  608  623  627  632  639  640  641  645  648
  659  663  681  687  698  709  748  749  751  795  797  800  821  835
  854  877  880  883  896  913  928  951  954  956  972  981 1012 1014
 1045 1059 1060 1109 1122 1135 1136 1143 1147 1153 1158 1171 1183 1186
 1194 1207 1218 1224 1248 1250 1254 1256 1257 1266 1282 1291 1300 1306
 1321 1327 1349 1354 1371 1372 1382 1397 1400 1404 1408 1409 1410 1419
 1426 1428 1430 1434 1438 1439 1446 1462 1473 1474 1479 1483 1488 1490
 1493 1496 1519 1530 1531 1540 1541 1546 1551 1554 1561 1576 1580 1581
 1589 1594 1595 1606 1616 1619 1631 1632 1637 1641 1648 1654 1667 1669]

Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  13   14   20   21   34   40   64   87   91   95   98  121  130  134
  161  166  187  189  200  201  205  206  216  230  241  252  269  276
  288  295  315  330  337  343  378  379  385  387  391  392  397  401
  406  418  455  459  466  474  484  492  502  508  510  520  562  563
  564  565  592  600  612  642  646  647  683  686  699  702  719  725
  729  742  747  763  766  769  775  776  779  791  794  804  805  815
  831  840  856  860  863  870  871  878  891  897  929  955  957  960
  975  995 1016 1017 1020 1021 1025 1028 1038 1044 1051 1056 1064 1071
 1076 1082 1086 1095 1104 1123 1126 1129 1130 1152 1154 1162 1180 1184
 1215 1238 1241 1264 1267 1275 1294 1297 1332 1337 1363 1367 1369 1390
 1396 1411 1413 1437 1451 1459 1478 1482 1484 1485 1495 1499 1500 1508
 1513 1515 1522 1528 1544 1579 1584 1585 1586 1590 1638 1640 1657 1680]

In [47]:
print('Accuracy: {n}%'.format(n= np.mean(scores) * 100))

Accuracy: 55.49671414510821%

### FTAG model

In [48]:
scores = []
best_svr = SVR(kernel='rbf')
cv = KFold(n_splits=10, shuffle=True, random_state=42)
for train_index, test_index in cv.split(X_away):
    print("Train Index: ", train_index, "\n")
    print("Test Index: ", test_index)

    X_away_train, X_away_test, Y_away_train, Y_away_test = X_away.loc[train_index], X_away.loc[test_index], Y_away.loc[train_index], Y_away.loc[test_index]
    best_svr.fit(X_away_train, Y_away_train)
    scores.append(best_svr.score(X_away_test, Y_away_test))

Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  23   29   30   32   44   49   59   65   69   70   73   78   99  109
  115  124  135  162  168  173  185  203  210  220  244  247  259  261
  270  271  275  289  297  298  300  303  339  342  351  352  366  371
  382  383  398  405  411  413  414  416  422  425  427  439  462  478
  479  481  485  490  493  495  497  522  527  532  548  551  552  567
  570  576  582  583  585  598  613  617  619  628  629  664  677  679
  680  701  707  722  730  736  741  756  765  781  787  839  855  859
  864  881  887  889  906  914  931  940  943  946 1000 1001 1006 1034
 1052 1053 1063 1080 1090 1091 1094 1131 1160 1163 1165 1169 1175 1189
 1190 1191 1193 1197 1200 1247 1262 1277 1298 1307 1311 1318 1331 1341
 1358 1364 1380 1395 1414 1422 1424 1433 1435 1440 1444 1450 1471 1524
 1535 1542 1550 1597 1605 1607 1621 1623 1625 1629 1635 1646 1652 1661
 1672]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  15   43   51   56   67   76  100  101  107  123  128  141  170  175
  184  188  198  199  212  226  231  237  239  240  250  251  274  316
  324  331  332  344  350  353  367  374  381  394  408  420  426  429
  432  433  438  450  453  464  482  486  494  514  518  534  538  555
  560  584  590  601  607  611  614  618  621  634  651  660  678  692
  694  706  710  712  721  744  752  754  755  772  786  792  798  808
  810  813  816  829  832  836  838  843  844  861  865  873  879  892
  904  905  915  925  938  962  964 1005 1009 1018 1050 1054 1055 1075
 1103 1105 1108 1117 1133 1140 1144 1156 1164 1170 1173 1178 1187 1188
 1192 1196 1203 1210 1227 1239 1245 1249 1274 1276 1295 1299 1313 1340
 1343 1347 1357 1360 1365 1366 1378 1383 1392 1416 1417 1418 1432 1447
 1460 1503 1511 1521 1529 1560 1572 1610 1614 1620 1630 1644 1663 1671
 1679]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  54   58   63   81   86  111  148  163  177  192  196  208  218  233
  236  254  265  266  277  286  287  292  306  309  310  322  327  354
  358  361  363  365  380  415  451  471  483  506  513  526  530  535
  554  557  561  575  591  593  596  599  602  637  643  668  669  674
  682  693  727  759  764  774  780  782  802  806  811  842  846  874
  886  903  910  916  926  936  948  949  952  973  979  982  985  998
 1004 1007 1022 1030 1043 1078 1085 1111 1112 1125 1132 1134 1138 1151
 1177 1182 1198 1205 1206 1209 1217 1222 1228 1230 1244 1260 1263 1268
 1273 1283 1284 1288 1289 1293 1303 1308 1315 1317 1330 1336 1339 1344
 1348 1352 1353 1381 1388 1393 1399 1405 1407 1415 1425 1458 1466 1469
 1470 1486 1487 1497 1510 1520 1527 1538 1548 1549 1562 1565 1566 1568
 1573 1575 1582 1588 1593 1601 1615 1622 1626 1634 1666 1670 1673 1674
 1675]
Train Index:  [   0    1    2 ... 1680 1681 1683]

Test Index:  [  10   18   31   41   48   83   88   96  113  126  129  131  140  142
  147  155  156  158  164  174  178  179  181  195  209  214  221  243
  282  285  290  291  294  296  308  312  323  326  341  346  348  355
  360  370  377  390  410  419  423  428  430  435  447  461  468  477
  500  516  528  529  543  544  566  571  578  588  589  597  610  615
  620  626  631  636  650  654  670  700  705  711  715  720  723  724
  745  757  777  785  807  817  818  819  845  867  907  917  922  932
  937  966  968  984  986  989  994 1010 1026 1033 1040 1041 1046 1079
 1107 1113 1120 1124 1128 1145 1167 1174 1181 1201 1208 1221 1223 1240
 1265 1272 1278 1302 1304 1310 1314 1324 1328 1335 1342 1362 1368 1374
 1386 1387 1389 1436 1441 1465 1477 1481 1489 1491 1498 1543 1545 1556
 1563 1571 1583 1592 1596 1598 1613 1617 1624 1636 1639 1647 1662 1664
 1682]
Train Index:  [   0    1    4 ... 1681 1682 1683]

Test Index:  [   2    3    5    6    7   12   24   25   27   39   47   55   66   85
  106  136  138  139  167  171  193  211  213  215  222  224  227  242
  256  258  260  272  273  299  311  314  318  319  321  325  328  333
  336  349  362  364  368  375  376  393  409  424  440  442  458  467
  503  505  525  531  536  542  547  549  553  558  572  573  579  581
  594  605  622  624  630  638  649  661  665  672  691  704  714  718
  743  767  803  809  820  834  841  857  888  893  900  901  921  930
  939  942  944  950  965  983  987  999 1013 1027 1036 1047 1058 1067
 1088 1110 1118 1142 1155 1168 1185 1211 1225 1231 1246 1251 1255 1259
 1287 1290 1296 1319 1320 1322 1326 1359 1361 1377 1394 1398 1401 1448
 1461 1463 1476 1480 1501 1507 1512 1514 1516 1523 1532 1533 1539 1547
 1553 1555 1557 1558 1559 1570 1591 1628 1642 1649 1650 1653 1656 1659]
Train Index:  [   1    2    3 ... 1681 1682 1683]

Test Index:  [   0   33   42   45   52   60   62   68   71   72   74   77   80   82
   84   92   94   97  102  104  105  110  117  120  125  132  137  144
  165  182  183  194  204  228  232  235  248  249  267  280  281  302
  305  307  329  334  359  388  404  421  434  436  445  446  448  457
  465  480  507  519  523  533  541  545  603  609  644  666  673  676
  688  695  716  733  737  746  762  770  771  788  793  796  799  812
  824  826  847  849  858  862  869  898  899  909  918  923  941  963
  974  976  978  988  990  993  997 1023 1029 1037 1049 1057 1061 1068
 1083 1084 1089 1096 1100 1101 1102 1106 1116 1121 1149 1157 1159 1202
 1204 1220 1226 1229 1232 1234 1237 1252 1258 1269 1270 1271 1280 1305
 1316 1333 1334 1345 1351 1355 1356 1376 1379 1391 1423 1427 1445 1453
 1457 1468 1492 1505 1525 1526 1534 1567 1603 1604 1618 1660 1665 1678]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [   9   11   28   36   38   57   61   75   79   89   90  108  114  118
  133  145  169  172  176  191  223  234  238  255  264  278  338  347
  357  372  373  386  389  395  396  412  417  444  449  454  456  460
  475  491  498  499  501  504  539  568  587  595  604  616  652  657
  662  667  671  675  697  708  713  717  728  731  732  734  735  738
  739  750  753  760  778  783  814  823  825  828  848  850  852  868
  872  875  882  884  885  890  894  908  912  919  924  933  934  945
  947  953  958  967  969  970  977 1024 1031 1032 1035 1042 1048 1065
 1073 1074 1087 1093 1097 1098 1114 1137 1146 1161 1172 1176 1179 1214
 1216 1235 1236 1253 1261 1281 1285 1286 1292 1301 1325 1338 1350 1373
 1384 1385 1412 1421 1429 1431 1449 1452 1455 1456 1464 1467 1494 1517
 1518 1552 1564 1569 1577 1587 1602 1608 1609 1612 1627 1633 1645 1677]
Train Index:  [   0    1    2 ... 1679 1680 1682]

Test Index:  [   4   16   17   19   22   35   46   50   93  116  119  127  149  153
  154  157  159  180  190  217  245  257  263  268  284  301  304  313
  320  335  340  356  369  399  407  431  443  470  473  476  487  489
  496  511  512  515  517  521  537  546  559  569  574  580  606  625
  633  635  653  655  656  658  684  685  689  690  696  703  726  740
  758  761  768  773  784  789  790  801  822  827  830  833  837  851
  853  866  876  895  902  911  920  927  935  959  961  971  980  991
  992  996 1002 1003 1008 1011 1015 1019 1039 1062 1066 1069 1070 1072
 1077 1081 1092 1099 1115 1119 1127 1139 1141 1148 1150 1166 1195 1199
 1212 1213 1219 1233 1242 1243 1279 1309 1312 1323 1329 1346 1370 1375
 1402 1403 1406 1420 1442 1443 1454 1472 1475 1502 1504 1506 1509 1536
 1537 1574 1578 1599 1600 1611 1643 1651 1655 1658 1668 1676 1681 1683]
Train Index:  [   0    2    3 ... 1681 1682 1683]

Test Index:  [   1    8   26   37   53  103  112  122  143  146  150  151  152  160
  186  197  202  207  219  225  229  246  253  262  279  283  293  317
  345  384  400  402  403  437  441  452  463  469  472  488  509  524
  540  550  556  577  586  608  623  627  632  639  640  641  645  648
  659  663  681  687  698  709  748  749  751  795  797  800  821  835
  854  877  880  883  896  913  928  951  954  956  972  981 1012 1014
 1045 1059 1060 1109 1122 1135 1136 1143 1147 1153 1158 1171 1183 1186
 1194 1207 1218 1224 1248 1250 1254 1256 1257 1266 1282 1291 1300 1306
 1321 1327 1349 1354 1371 1372 1382 1397 1400 1404 1408 1409 1410 1419
 1426 1428 1430 1434 1438 1439 1446 1462 1473 1474 1479 1483 1488 1490
 1493 1496 1519 1530 1531 1540 1541 1546 1551 1554 1561 1576 1580 1581
 1589 1594 1595 1606 1616 1619 1631 1632 1637 1641 1648 1654 1667 1669]
Train Index:  [   0    1    2 ... 1681 1682 1683]

Test Index:  [  13   14   20   21   34   40   64   87   91   95   98  121  130  134
  161  166  187  189  200  201  205  206  216  230  241  252  269  276
  288  295  315  330  337  343  378  379  385  387  391  392  397  401
  406  418  455  459  466  474  484  492  502  508  510  520  562  563
  564  565  592  600  612  642  646  647  683  686  699  702  719  725
  729  742  747  763  766  769  775  776  779  791  794  804  805  815
  831  840  856  860  863  870  871  878  891  897  929  955  957  960
  975  995 1016 1017 1020 1021 1025 1028 1038 1044 1051 1056 1064 1071
 1076 1082 1086 1095 1104 1123 1126 1129 1130 1152 1154 1162 1180 1184
 1215 1238 1241 1264 1267 1275 1294 1297 1332 1337 1363 1367 1369 1390
 1396 1411 1413 1437 1451 1459 1478 1482 1484 1485 1495 1499 1500 1508
 1513 1515 1522 1528 1544 1579 1584 1585 1586 1590 1638 1640 1657 1680]

In [49]:
print('Accuracy: {n}%'.format(n= np.mean(scores) * 100))

Accuracy: 55.412607142961804%